@model WiseProject.Models.Course

@{
    ViewData["Title"] = "Details";
    Layout = "_Layout";
}



<section id="page-banner" class="pt-105 pb-110 bg_cover" data-overlay="8" style="background-image: url(/images/page-banner-2.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-banner-cont">
                    <h2>Our Courses</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Courses</li>
                        </ol>
                    </nav>
                </div>  <!-- page banner cont -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<!--====== PAGE BANNER PART ENDS ======-->
<!--====== COURSES SINGEl PART START ======-->

<section id="corses-singel" class="pt-90 pb-120 gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="corses-singel-left mt-30">
                    <div class="title">
                        <h3>@Model.Title</h3>
                    </div> <!-- title -->
                    <div class="course-terms">
                        <ul>
                            <li>
                                <div class="teacher-name">
                                    <div class="thum">
                                        <img src="~/images/course/teacher/t-1.jpg" alt="Teacher">
                                    </div>
                                    <div class="name">
                                        <span>Teacher</span>
                                        <h6>@Model.User.FirstName @Model.User.LastName</h6>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="course-category">
                                    <span>Category</span>
                                    <h6>@Model.Category</h6>
                                </div>
                            </li>
                            <li>
                                <div class="course-category">
                                    @if (User.IsInRole("Admin") || User.IsInRole("Instructor"))
                                    {
                                        <h6><a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a></h6>
                                        <h6><a asp-action="Delete" asp-route-id="@Model?.Id">Delete</a></h6>
                                    }
                                    
                                </div>
                            </li>
                           
                        </ul>
                    </div> <!-- course terms -->

                    <div class="corses-singel-image pt-50">
                        <img src="@Model.ImageUrl" alt="Courses">
                    </div> <!-- corses singel image -->

                    <div class="corses-tab mt-30">
                        <ul class="nav nav-justified" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="active" id="overview-tab" data-toggle="tab" href="#overview" role="tab" aria-controls="overview" aria-selected="true">Overview</a>
                            </li>
                            <li class="nav-item">
                                <a id="curriculam-tab" data-toggle="tab" href="#curriculam" role="tab" aria-controls="curriculam" aria-selected="false">Assignments</a>
                            </li>
                            
                            
                        </ul>

                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
                                <div class="overview-description">
                                    <div class="singel-description pt-40">
                                        <h6>@Model.Title</h6>
                                        <p>@Model.Description</p>
                                    </div>
                                    
                                </div> <!-- overview description -->
                            </div>
                            <div class="tab-pane fade" id="curriculam" role="tabpanel" aria-labelledby="curriculam-tab">
                                <div class="curriculam-cont">
                                    <div class="title">
                                        <h6>@Model.Title</h6>
                                    </div>
                                    <div class="accordion" id="accordionExample">
                                        
                                        <h4>Assignment</h4>
                                        @if (User.IsInRole("Admin") || User.IsInRole("Instructor"))
                                        {
                                            <a asp-controller="Assignment" asp-action="Create" asp-route-id="@Model.Id">Create</a>
                                        }
                                        
                                        @foreach (var m in Model.Assignment)
                                        {
                                            
                                            <div class="card">
                                                <div class="card-header" id="heading-@m.Id">
                                                    <a href="#" data-toggle="collapse" data-target="#collapse-@m.Id" aria-expanded="false" aria-controls="collapse-@m.Id">
                                                        <ul>
                                                            <li><i class="fa fa-file-o"></i></li>

                                                            <li><span class="head">@m.Title </span></li>
                                                            <li><span class="time d-none d-md-block"><i class="fa fa-clock-o"></i> <span>@m.DueDate</span></span></li>

                                                        </ul>
                                                    </a>
                                                </div>

                                                <div id="collapse-@m.Id" class="collapse show" aria-labelledby="heading-@m.Id" data-parent="#accordionExample">
                                                    <div class="card-body">
                                                        <p>@m.Description</p>
                                                        @if (User.IsInRole("Admin") || User.IsInRole("Instructor"))
                                                        {
                                                            <a asp-controller="Assignment" asp-action="Edit" asp-route-id="@m.Id">Edit</a>
                                                            <a asp-controller="Assignment" asp-action="Delete" asp-route-id="@m.Id">Delete</a>
                                                        }
                                                        
                                                    </div>
                                                </div>
                                            </div>


                                        }
                                    </div>
                                </div> <!-- curriculam cont -->
                            </div>
                            
                           
                        </div> <!-- tab content -->
                    </div>
                </div> <!-- corses singel left -->

            </div>
            @if (User.IsInRole("Admin") || User.IsInRole("Instructor"))
            {
                @await Component.InvokeAsync("StudentListComponent",new{courseId=Model.Id})
            }
            else if (User.IsInRole("User"))
            {
                @await Component.InvokeAsync("EnrollCourseComponent",new{courseId=Model.Id})
            }
            else
            {
                @await Component.InvokeAsync("EnrollCourseComponent",new{courseId=Model.Id})
            }
            
            
        </div> <!-- row -->

    </div> <!-- container -->
</section>
